/BTL1/assignment1/src/main/zcode/parser/__pycache__
/BTL1/assignment1/src/test/__pycache__
/BTL1/assignment1/src/main/zcode/parser/ZCode.interp
/BTL1/assignment1/src/main/zcode/parser/ZCode.tokens
/BTL1/assignment1/src/main/zcode/parser/ZCodeLexer.interp
/BTL1/assignment1/src/main/zcode/parser/ZCodeLexer.py
/BTL1/assignment1/src/main/zcode/parser/ZCodeLexer.tokens
/BTL1/assignment1/src/main/zcode/parser/ZCodeParser.py
/BTL1/assignment1/src/main/zcode/parser/ZCodeVisitor.py
/BTL2/assignment2/src/main/zcode/parser/__pycache__
/BTL2/assignment2/src/test/__pycache__
/BTL2/assignment2/src/main/zcode/parser/ZCode.interp
/BTL2/assignment2/src/main/zcode/parser/ZCode.tokens
/BTL2/assignment2/src/main/zcode/parser/ZCodeLexer.interp
/BTL2/assignment2/src/main/zcode/parser/ZCodeLexer.py
/BTL2/assignment2/src/main/zcode/parser/ZCodeLexer.tokens
/BTL2/assignment2/src/main/zcode/parser/ZCodeParser.py
/BTL2/assignment2/src/main/zcode/parser/ZCodeVisitor.py